/posterT3.pdf filter=lfs diff=lfs merge=lfs -text
/poster.png filter=lfs diff=lfs merge=lfs -text
/Poster-HAN23-T3-A.pdf filter=lfs diff=lfs merge=lfs -text
/Poster_HAN23_T3_A_13-10-23.pdf filter=lfs diff=lfs merge=lfs -text
/uml.png filter=lfs diff=lfs merge=lfs -text
/T3/Citygame-master/REPO/scr1.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne.zip filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0001.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0002.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0003.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0004.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0005.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0006.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0007.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/grounds/village0008.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0001.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0002.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0003.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0004.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0005.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0006.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0007.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house1/strokevillage0008.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0009.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0010.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0011.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0012.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0013.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0014.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0015.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/house2[[:space:]]with[[:space:]]props/strokevillage0016.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0017.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0018.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0019.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0020.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0021.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0022.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0023.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/2dvillageassetpackwithoutilne/props/strokevillage0024.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/city_texture/Buildings/hospital.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/city_texture/Top[[:space:]]Down[[:space:]]City[[:space:]]Pack.jpg filter=lfs diff=lfs merge=lfs -text
/T3/assets/city_texture/banner.png filter=lfs diff=lfs merge=lfs -text
/T3/assets/city_texture_autre/aenclaveTownPack.png filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/game_manager.tscn filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/.godot/mono/temp/bin/Debug/GodotSharp.dll filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/.godot/mono/temp/bin/Debug/GodotSharpEditor.dll filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/.godot/shader_cache/CanvasShaderGLES3/007cddfcf35f7d57b219cffec53f6a7d9fe7a1979be4db64c6450cfac6000053/0569298c4bd67f71fa194e93b48a113d8bfd63e0.cache filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/.godot/shader_cache/SceneShaderGLES3/7757391c487ac94cfa6418166bd5fdacce470f09394c1a2a875e878c8c5d8596/0569298c4bd67f71fa194e93b48a113d8bfd63e0.cache filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/.godot/shader_cache/SceneShaderGLES3/7757391c487ac94cfa6418166bd5fdacce470f09394c1a2a875e878c8c5d8596/1f75832d84ea2128aac58e9975dab8cefa46561f.cache filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/.godot/shader_cache/SceneShaderGLES3/7757391c487ac94cfa6418166bd5fdacce470f09394c1a2a875e878c8c5d8596/4e002e62ef22dfdcf101da3b462c847e3241dd05.cache filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/.godot/shader_cache/SkyShaderGLES3/1fe105946e63973aecf5198091930c2bdb17778012ef0253e325ade3a297e6c8/33f4853c06988eac9a9ede63fa1ea0124debb133.cache filter=lfs diff=lfs merge=lfs -text
/TerritoriaV1/img/Menu/MenuIncroyableTerritoriaV1.png filter=lfs diff=lfs merge=lfs -text
